{% extends 'base.html' %}
{% block content %}

      <div class="hero-unit">
        <div id="userid" style="display:none">{{ uid }}</div>
        <h1><h3>Hey {{ uid }}, welcome to Brwnppl Bhangra</h3></h1>
        <article>
            <video  id="video" width="320" height="200" autoplay></video>
            <section>
                <button id="btnStart">Start video</button>
                <button id="btnStop">Stop video</button>            
                <button id="btnRecord">Record</button>
            </section>
            <canvas id="canvas" width="320" height="240"></canvas>
        </article> 
      </div>

      <div class="hero-unit">
        {% for v in videos %}
        <video width="356" height="200">
        <source src="{% v.uri %}" type="video/mp4" />
{#         <source src="full/link/to/http/ogv/video/file.ogv" type="video/ogg" />
        <source src="full/link/to/http/webm/video/file.wbem" type="video/webm" /> #}
        <em>Sorry, your browser doesn't support HTML5 video</em>
        </video>
        {% endfor %}
      </div>


      <div class="row">
        <div class="span6">
          <h2>How it works</h2>
          <p>...</p>

          <h2>heading</h2>
          <p>... </p> 
        </div>
      </div>

{% endblock %}