{% extends 'base.html' %}
{% block content %}

      <div class="hero-unit">
        <header>
            <h1>Show off your moves!</h1>
        </header>
        <article>
            <video  id="video" width="640" height="480" autoplay></video>
            <section>
                <button id="btnStart">Start video</button>
                <button id="btnStop">Stop video</button>            
                <button id="btnPhoto">Take a photo</button>
            </section>
            <canvas id="canvas" width="640" height="480"></canvas>
            <img id="target" style="display: inline;"/>
        </article> 
      </div>

{% endblock %}