{% extends 'base.html' %}
{% block content %}


<div class="hero-unit">
<center>
	<video controls="" name="media" post="{{ video.uri_i }}">
		<source src="{{ video.uri_v }}" type="video/webm">
	</video>
	<div id="vid"  style="display:none">{{ video.vid }}</div>
	<br>
	<div class="vote-buttons">
        {% ifequal upvotes 0 %}
        <img class="vote-up" src = "{{ STATIC_URL }}img/vote-up-off.png" title="Vote this thread UP. (click again to undo)" />
        {% else %}
        <img class="vote-up selected" src = "{{ STATIC_URL }}img/vote-up-on.png" title="Vote this thread UP. (click again to undo)" />
        {% endifequal %}
        {% ifequal downvotes 0 %}
        <img class="vote-down" src = "{{ STATIC_URL }}img/vote-down-off.png" title="Vote this thread DOWN if it is innapropriate or incorrect. (click again to undo)" />
        {% else %}
        <img class="vote-down selected" src = "{{ STATIC_URL }}img/vote-down-on.png" title="Vote this thread DOWN if it is innapropriate or incorrect. (click again to undo)" />
        {% endifequal %}
    </div>
</center>
</div>

{% endblock %}
